# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env

# Data
desktop/data/
desktop/models/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
